node_modules/
.env
.env.test

py/__pycache__/

temp/
demtiles/
serverParameters/*
.vscode
.vs
serverFiles/mainPage/assets/hillExport.js
calcData/hills
calcData/calcPoints
calcData/path/path.csv
calcData/sightlines
