body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

#map { 
    height: 80vh; 
    width: 100%;
    z-index: 1;
}
#map.loading {
    opacity: .5;
}

.full-width-align {
    width: 100%;
    position: relative;
}
.control-panel {
    max-width: 1000px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
}
.control-label {
    font-weight: bold;
    display: inline;
}
.control-text {
    display: inline;
}

#map-log {
    max-width: 400px;
    padding: 10px;
    margin-top: 6px;
    border-radius: 6px;
    border: 2px solid;
    display: none;
}

#map-log.error {
    display: inline-block;
    color: #e03323;
    background-color: #e6b3ae;
    border-color: #e03323;
}

.loader {
    position: absolute;
    left: calc(50% - 20px);
    top: 280px;
    z-index: 2;
    border: 4px solid #ffffffee;
    border-radius: 50%;
    border-top: 4px solid #75CFF0;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    display: none;
}
.loader.show {
    display: block;
}

#calc-button {
    font-family: 'Consolas', Courier, monospace;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 14px;
    float: right;
    border: none;
    border-bottom: 4px solid #3f6bc2;
    background-color: #528BFF;
    color: #fff;
    border-radius: 6px;
    transition: .2s;
    margin-bottom: 6px;
}
#calc-button:hover {
    background-color: #4777d6;
}

.control-input-small {
    width: 60px;
    transition: .2s;
    border: 2px solid #eef1f7;
    background-color: #eef1f7;
    border-radius: 6px;
    padding: 2px 4px;
    margin-top: 4px;
}

.scale-indicator {
    position: absolute;
    left: 10px;
    bottom: 10px;
    background-color: rgba(255, 255, 255, .5);
    padding: 4px 10px;
    z-index: 1000;
    border-radius: 2px;
    backdrop-filter: saturate(90%) blur(20px);
    border-left: 2px solid #000000aa;
    border-right: 2px solid #000000aa;
}

#locator-button {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 4px 4px 0px 4px;
    background: #fff;
    border-radius: 4px;
    z-index: 1001;
    cursor: pointer;
    border: 2px solid rgba(0,0,0,0.2)
}
#locator-button:hover {
    background: #F4F4F4;
}
.glass-ui {
    background-color: rgba(255, 255, 255, .5);
    backdrop-filter: saturate(90%) blur(20px);
    border-radius: 2px;
    padding: 4px 10px;
}
#elevetion-display {
    min-width: 50px;
    text-align: center;
    position: absolute;
    left: 10px;
    bottom: 44px;
    z-index: 1001;
}

textarea:focus, input:focus{
    outline: none;
}

.spinAnim {
    animation: spin .5s ease-in-out;
}

.grid-label {
    display: none;
    background: #ffffffaa;
    border: none;
    box-shadow: none;
    padding: 2px;
    margin-top: 20px;
}
.leaflet-tooltip-right {
    margin-left: -30px;
}
.leaflet-tooltip-left {
    margin-left: 30px;
}
.grid-label:before {
    display: none;
}
body.show-grid-labels .grid-label {
    display: block;
}


/* Custom leaflet css */
.leaflet-control-scale-line {
    display: none;
}
.leaflet-container .leaflet-control-attribution {
    padding: 5px 10px;
    backdrop-filter: saturate(90%) blur(20px);
    border-radius: 2px;
}
.leaflet-bottom {
    bottom: 10px;
}
.leaflet-right {
    right: 10px;
}


/* MEDIA QUERIES */

@media only screen and (max-width: 400px) {
    #calc-button {
        width: 100%;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
